@model DelBtn
@if (Model.IsDeleted)
{
    <form class="restore@(Model.Name) awe-il" method="post">
        @Html.HiddenFor(o => o.Id)
        <button type="submit" class="awe-btn" ><span class="ico-restore"></span></button>
    </form>
}
else
{
    <button type="button" class="awe-btn" onclick="awe.open('delete@(Model.Name)', { params: { id: @(Model.Id) } })">
        <span class="ico-del"></span>
    </button>
}